{% extends 'mvapp/base.html' %}
{%block title %}Home{% endblock %}
{%block content %}
<main role="main" class="container">
    <div class="starter-template">
      <h1 class="fw-bold text-center">Welcome to Classic Cinema Fan!</h1>
      <p class="lead mt-4">Welcome to "Classic Cinema Fan" - your ultimate destination for timeless movie classics! Immerse yourself in the golden era of cinema as we curate a captivating collection of legendary films from the  past. Discover the masterpieces that have stood the test of time, each one a work of art cherished by generations of movie enthusiasts.</p>
      
      <p class="lead">Explore our carefully crafted list of classical movies that have shaped the history of cinema. From iconic performances to breathtaking cinematography, each film offers a unique and unforgettable experience. Whether you're a seasoned cinephile or a curious newcomer to the world of classic cinema, our site is designed to cater to all movie enthusiasts.</p>
      
      <p class="lead">Indulge in the magic of storytelling as you navigate through a treasure trove of cinematic gems. Each movie is a testament to the creativity, passion, and craftsmanship of the filmmakers who brought these masterpieces to life.</p>
        
      <p class="lead">"Classic Cinema Fan" invites you to relive the magic of timeless cinema. Join us on this journey through the past, where each movie is a timeless celebration of the art of filmmaking. Start exploring the classics now and embrace the rich history of the silver screen. Lights, camera, action! 🎬🎥</p>
        
    </div>
</main>
{%endblock%}